body{
    background: rgb(0,0,0);
    background: no-repeat linear-gradient(344deg, rgba(50,50,50,1) 0%, rgba(92,92,92,1) 70%, rgba(103,103,103,1) 100%);

}
#btn{
    width: 10rem;
    height: 3em;
}
element{
--radiantcolor : #FB4C0D;
}
.btn_face{
    border-radius: 7px;
    background-color: rgb(0,0,0,0);
    border: solid #FB4C0D;
    color: #FB4C0D;
    font-weight: bold;
    text-shadow: #FB4C0D 1px 0 10px;
    transition: all 1s ease-out;
}

.btn_face:hover{
    background-color: #FB4C0D ;
    color: white ;
    border: solid #ffaa91;
    text-shadow: white 1px 0 10px;
}
.btn_face:hover:after{
    transition: 1s;
}
#Calculer{
    width: 12rem;
    height: 3em;
}
h1{
    text-align: center;
}
.embed-responsive-item{
    width: 100%;
    min-height: 300px;
    margin: 10px;
    border-radius: 10px;
    position: relative;
}
#customFile{
    height: 2.3em;
    width: 50%;
    margin: auto;
}
#subcontainer-btn{
    display:flex;
    margin-top: 10em;
    margin-left: auto;
    margin-right: auto;
    column-gap:50px;
}


img{
    position: absolute;
    margin: auto;
    height: 95%;
    width: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.container{
    display: flex;
}

#upload{
    display: flex;
    flex-direction: column;

}

.form-control{
    align-content: center;
}
#upload{
    margin: auto;
    display: flex;
    width: 100%;
    padding: 1rem;
}

#consigne{
    padding-top: 5%;
    padding-bottom: 5%;
    width: 75%;
    margin: auto;
    text-align: center;
}